html,
body {
  margin: 0%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #f6f5f5 !important;
}

/* CSS Variables */

:root {
  --primary-color: #1687a7;
  --primary-color2: #276678;
  --secondary-color: #f6f5f5;
  --secondary-color2: #d3e0ea;
  --title-color: #141313;
  --text-color: #777777;
  --border-color: #201f1f18;
  /* --gradient-color: linear-gradient(90deg, #4458dc 0%, #854fee 100%); */
  --gradient-color: linear-gradient(90deg, #1687a7 0%, #276678 100%);
  --gradient-color2: linear-gradient(180deg, #f6f5f5 0%, #d3e0ea);
  --nav-gradient-color: linear-gradient(90deg, #1687a7 100%, #f6f5f5 100%);
  --shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
  --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);

  /* font family variables */
  --roboto: 'roboto', cursive;
  --caviar: 'caviar_dreams';
  --comfortaa: 'comfortaa';
  --geo_sans_light: 'geo_sans_light';
  --louis_george_caf: 'louis_george_caf';
  --modern_sans: 'modern_sans';
}
